<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="smoke">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jodayn.smoke.Login"/>
      <class name="com.jodayn.smoke.Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- smoke -->
